#/cmake-build-debug/
#/cmake/build/CMakeFiles
#/cmake/build/core
#/cmake/build/cpptest
#/cmake/build/third_party
#/data_raw/
#/data/
#/venv/
#.idea/
#*.cmake
#*.bin
#testgit_track_rename
#__pycache__/
#third_party/cmake-3.20.2.tar.gz
##third_party/c-ares/
#third_party/*
#/cpptest
#main.cc
